*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 

    
}
 
body{
    height:100vh ;
    background:linear-gradient(#667eea,#764ba2) ;
    


}

.box{
    height: 600px;
    width: 400px;
    border-radius: 20px;
    border-color:black ;
    border-style: solid;
    margin-left: 38%;
    margin-top: 50px;
}

.top{
    height: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid ;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 40px;
    
}

.right-color{
    padding: 12px 16px;
      border-radius: 18px;
      margin-bottom: 12px;
      max-width: 75%;
      font-size: 14px;
      line-height: 1.4;
    
    }

     .left{
      background: rgba(255,255,255,0.25);
      align-self: flex-start;
    }


    .right-color{
         background: rgba(96, 83, 83, 0.25);
         align-self: flex-start;
         margin-top: 15px;
    }

    .left{
         padding: 12px 16px;
      border-radius: 18px;
      margin-bottom: 12px;
      max-width: 75%;
      font-size: 14px;
      line-height: 1.4;
      margin-left: 100px;

    
    }

    .input {
        display: flex;
      padding: 15px;
     
    }

     .input input{
         flex: 1;
      padding: 12px 15px;
      border-radius: 25px;
      margin-top: 60%;
      
     
      
      font-size: 14px; 
    }



    .input button{
        margin-left: 1%;
      padding: 12px 18px;
      border-radius: 50%;
      border: none;
      background: white;
      color: blueviolet;
      font-size: 16px;
      cursor: pointer;
      align-items: end;
      margin-top: 60%;
      
    }

   
    

    
   
    
